<!-- Announcements -->

{# CALL FOR SPEAKERS / CFS #}
{# ANNOUNCE: Show the following lines while the CFS is open. #}
{# <div class="row announcement">
    The Call for Speakers is now open!  <a href="https://sessionize.com/atlanta-cloud-conference-2025/" target="_blank">Submit your talk!</a>
</div>  #}

{# TICKETS/PROMO PRICING #}
{# ANNOUNCE: Show the following lines when tickets are available. #}
{# <div class="row announcement">
    Ticket sales are now open! <a href="https://www.ticketleap.events/tickets/developers-association-georgia/atlanta-cloud-conference2025" target="_blank">Advance ticket pricing</a> is only available through April 11.
</div>  #}

{# SEE YOU NEXT YEAR #}
{# ANNOUNCE: Show the following lines after the event has concluded. #}
<div class="row announcement">
    The 2024 Atlanta Developers' Conference has concluded.  Thank you to all of our speakers, sponsors, and attendees for making this event a success!  We look forward to seeing you next year.
</div> 