<!--TESTIMONIALS-->
<section>
  <div id="lgx-keynote"  class="lgx-testimonials">
    <div class="lgx-inner">
      <div class="container">
        <div class="lgx-content">

          <div class="row">
            <div class="col-xs-12">
              <div class="lgx-heading-area">
                <h2 class="lgx-heading">
                  <span class="back-heading">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </span>
                  <span class="heading">Keynote</span>
                </h2>
                <div class="mx-8 border-x">
                                <h2>The Next Wave of Innovation</h2>
              <p class="lead">Abstract - Learn how new technologies are affecting the culture of work, what different tech companies are doing to address skills gaps and barriers and how you can contribute to building not only your own meaningful tech career but a thriving work environment.</p>
              <br />
              {# <p class="lead">For our keynote, we reflect on what we've learned over the past 20 years of running the Atlanta Developers' Conference (aka Atlanta Code Camp) and how it has impacted our technical abilities, careers, and the friends we've met along the way. We'll also offer some suggestions on how to best take advantage of the opportunities for you during the conference and the benefits of getting more involved.</p> #}


                  </div>
              </div>
            </div>
          </div>
          <!--//.ROW-->

          <div class="row">
            <div class="col-xs-12 col-md-4">
              <img src="/assets/img/speakers/cynthia-kao.png" alt="Jim Wooley" class="img-responsive"/>
            </div>
            <div class="col-xs-12 col-md-8">
              <h3>Cynthia Kao</h3>
              <p class="lead">2X Tech Founder, and Executive Director of Operation Code</p>
              <p>Cynthia Kao is the Executive Director of Operation Code, and 2X tech founder and CEO. She was also a documentary filmmaker and a contributing writer at Forbes Magazine. She served in the U.S. Air Force Reserves as a Public Affairs Specialist, deploying twice overseas, and served as an active duty military spouse for 15 years. Cynthia is also the mother of a service-disabled Veteran son. She spent the first 15 years of her career as a Licensed Clinical Social Worker in the non-profit sector, specializing in trauma, addiction and resilience therapy. Cynthia exited her first startup, as an interactive multimedia and innovative digital media founder after 10 years in the Fall of 2022.</p>
              <p>Today, she runs an early-stage health-tech startup, named Rebirth Innovation, focused on organizational health, employee assistance programs, preventing burnout and creating thriving work cultures.</p>
              <p>Originally from Toronto, Canada, Cynthia now calls the D.C./Northern Virginia region home and enjoys advocating for the military community and mental-health awareness. In her spare time, she serves her community as a volunteer Paramedic, enjoys outdoor sports, spending time with her three grown children and her Russian Blue cat named Chairman Meow.</p>
            </div>

            <!--//.COL 12 -->
          </div>
          <!--//.ROW-->
        </div>
        <!--//.LGX CONTENT-->
      </div>
      <!--//.CONTAINER-->
    </div>
    <!--//.LGX INNER-->
  </div>
  <!--//.LGX SECTION -->
</section>
<!--TESTIMONIALS END-->