<!--TESTIMONIALS-->
<section>
  <div id="lgx-keynote"  class="lgx-testimonials">
    <div class="lgx-inner">
      <div class="container">
        <div class="lgx-content">

          <div class="row">
            <div class="col-xs-12">
              <div class="lgx-heading-area">
                <h2 class="lgx-heading">
                  <span class="back-heading">
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                  </span>
                  <span class="heading">Keynote</span>
                </h2>
                <div class="mx-8 border-x">
                                <h2>Terminator or Terminated:</h2>
              <h3>Facing Technology Fears in the Age of AI</h3>
              <p class="lead">Many fears about AI started 40 years ago with The Terminator! Today, we're seeing AI in everything we do. We can't escape it and there are many who fear: AI will take my job; AI will make my industry irrelevant; biased responses could cause harm; people rely on AI for decisions and we can't tell if AI got it right.</p>
              <br />
              <p class="lead"> It is not all doom and gloom. There are significant positive outcomes unleashed by AI such as letting us reason over large data sets, helping us be more productive, even getting us started when we're looking at a blank page. The cloud has brought AI to the masses and as technology professionals we need to understand how it fits into the cloud computing landscape.
</p>
              <br />
              <p class="lead">In this keynote, Antonio will review both Predictive AI and Generative AI to see their impacts on our work in technology and cloud computing. He'll uncover many of the common fears related to these technologies, identifying what's real and what's not. Sharing pro tips to get started in AI and the tools currently available to us, you will see that we can leverage AI and bring it into our day-to-day jobs. Join us to terminate your fear of AI and replace it with increased employee value in the workplace.</p>


                  </div>
              </div>
            </div>
          </div>
          <!--//.ROW-->

          <div class="row">
            <div class="col-xs-12 col-md-4">
              <img src="/assets/img/speakers/antonio-maio.jpg" alt="Rick Claus" class="img-responsive"/>
            </div>
            <div class="col-xs-12 col-md-8">
              <h3>Antonio Maio</h3>
              <p class="lead">Protiviti - Managing Director &amp; Enterprise Architect</p>
              <p>Antonio Maio is an enterprise architect with over 20 years of experience in information security, cybersecurity systems, data governance, and leadership. Antonio is a Managing Director and Senior Enterprise Architect with Protiviti. He is a Microsoft Most Valuable Professional (MVP), specializing in security and compliance solutions within the Microsoft 365 platform, SharePoint, Office Apps and Services. His experience includes implementing information security technologies, information governance programs and cybersecurity best practices, for both large enterprise and government organizations.</p>

            </div>

            <!--//.COL 12 -->
          </div>
          <!--//.ROW-->
        </div>
        <!--//.LGX CONTENT-->
      </div>
      <!--//.CONTAINER-->
    </div>
    <!--//.LGX INNER-->
  </div>
  <!--//.LGX SECTION -->
</section>
<!--TESTIMONIALS END-->