<section>
  <div id="lgx-map" class="lgx-map bg-devcon">
    <div class="lgx-inner">
      <div class="container">

        <!-- Heading row -->
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="lgx-heading-area">
              <h2 class="lgx-heading">
                <span class="back-heading">
                  <i class="fa fa-life-ring" aria-hidden="true"></i>
                </span>
                <span class="heading">Conference Location</span>
              </h2>
            </div>
          </div>
        </div>

        <!-- Map row -->
        <div class="row">
          <div class="col-xs-12 text-center">
            <h3>Kennesaw State University – Marietta Campus, Building Q</h3>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3311.6895148578935!2d-84.51823182461115!3d33.939463780637566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88f511e6f9e8e53b%3A0x7a1a9821f573b3d5!2sKSU%20Marietta%20Campus%20-%20Building%20Q!5e0!3m2!1sen!2sus!4v1723149999999!5m2!1sen!2sus"
              width="600"
              height="450"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade">
            </iframe>
          </div>
        </div>

      </div><!--//container-->
    </div><!--//lgx-inner-->
  </div>
</section>
