---
title: "Atlanta Cloud Conference"
layout: _layout.njk
template: home
---
{% include "banner.njk" %}
{# {% include "nextyear.njk" %} #}
{# {% include "keynote.njk" %} #}
{% include "about.njk" %}

{# REGISTRATION #}
{# ANNOUNCE: Show the following line when tickets are available. #}
{# {% include "register.njk" %} #} 

{% include "speakers.njk" %}

{% include "sponsors.njk" %}
{# {% include "photos.njk" %} #}
{# {% include "schedule.njk" %} NOTE: Does not appear to be correctlyconnected to Sessionize at this time. #}
{# {% include "testimonials.njk" %} #}
{# {% include "location.njk" %} #}
{% include "map.njk" %}
{% include 'app.njk' %}