---
permalink: '/sponsors.json'
---
[
  {
    "sponsor_level": "Platinum",
    "sponsors": [
      {
        "name": "Kennesaw State University",
        "url": "https://ccse.kennesaw.edu/",
        "uri": "https://atlcloudconf.com/assets/img/sponsors/kssu-ccse-logo.png",
        "sessions": []
      }
    ]
  }
]
