---
permalink: '/sponsors.json'
---
[
  {
    "sponsor_level": "Platinum",
    "sponsors": [
      {
        "name": "Kennesaw State University",
        "url": "https://ccse.kennesaw.edu/",
        "uri": "https://atlcloudconf.com/assets/img/sponsors/kssu-ccse-logo.png",
        "sessions": []
      }
    ]
  },
 {
    "sponsor_level": "Gold",
    "sponsors": [
      {
        "name": "Improving",
        "url": "https://improving.com/",
        "uri": "https://atlcloudconf.com/assets/img/sponsors/improving-logo.png",
        "sessions": [
          {# {
            "id": 441364,
            "name": "Chaos in the Cloud: Resilience Testing in Microsoft Azure"
          },
          {
            "id": 421284,
            "name": "How to develop with a cloud-native mindset"
          } #}
        ]
      },
      {# {
        "name": "Epam",
        "url": "https://www.epam.com/",
        "uri": "https://atlcloudconf.com/assets/img/sponsors/epam-logo.png",
        "sessions": [
          {
            "id": 437389,
            "name": "Azure for the Enterprise - Getting Started"
          }
        ]
      } #}
    ]
  }
]
