---
permalink: '/sponsors.json'
---
[
  {
    "sponsor_level": "Platinum",
    "sponsors": [
      {
        "name": "Kennesaw State University",
        "url": "https://ccse.kennesaw.edu/",
        "uri": "https://atlcloudconf.com/assets/img/sponsors/kssu-ccse-logo.png",
        "sessions": []
      }
    ]
  },
 {
    "sponsor_level": "Gold",
    "sponsors": [
      {
        "name": "Improving",
        "url": "https://improving.com/",
        "uri": "https://atlcloudconf.com/assets/img/sponsors/improving-logo.png",
        "sessions": [
          {
            "id": 626654,
            "name": "Continuous Curiosity - Strategies for Learning and Adapting in the AI/ML Age"
          }
        ]
      },
      {
        "name": "Microsoft",
        "url": "https://microsoft.com/",
        "uri": "https://atlcloudconf.com/assets/img/sponsors/microsoft-logo.png",
        "sessions": []
      }
    ]
  },
  {
    "sponsor_level": "Silver",
    "sponsors": [
      {
        "name": "Greystone",
        "url": "https://greystone.com/",
        "uri": "https://atlcloudconf.com/assets/img/sponsors/Greystone_Logo.png",
        "sessions": [] 
      },
      {
        "name": "CyberMedics",
        "url": "https://cybermedics.com/",
        "uri": "https://atlcloudconf.com/assets/img/sponsors/cybermedics-logo.png",
        "sessions": []
      }
    ]
  }
]
